@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    background-color: #fd8505;
    color: white;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url("/imagens/background.png");
    min-height: 100vh;
}

.contactos{
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

input{
    background-color: white;
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: green;
    margin-bottom: 20px;
}

textarea{
    background-color: white;
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 20px;
    border-color: green;
    border-width: 2px;
    font-family: "Poppins", sans-serif;
    resize: none;
}

input:focus-within{
    outline: none;
    border-color: #abcc26;
    border-width: 3px;
}

textarea:focus-within{
    outline: none;
    border-color: #abcc26;
    border-width: 3px;
}

button{
    background-color: #abcc26;
    color: #fff;
    border-radius: 20px;
    border-color: green;
    border-width: 0px;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 37px;
}

button:hover{
    opacity: 80%;
    cursor: pointer;
    background-color: #fd8505;
}

a, a:hover{
    text-decoration: none;
    color: #fff;
}

nav{
    background: #fd8505;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

p{
    text-align: center;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
}

nav a:hover{
    color: #abcc26;

}

.logo{
    flex: 1;
}

.logo img{
    width: 90px;
    margin-right: 10px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}

@media screen and (max-width:600px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        top: 45px;
        right: 20px;
    }
}

.msgsucesso{
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
}

.psucesso{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 218px;
    font-size: 20px;
}

.isactive{
    color: greenyellow;
}

marquee{
    color: white;
}

.top-arrow {
    background: white;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#abcc26;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
}
  
.top-arrow.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}

.footer{
    text-align: center;
    background-color: #abcc26;
    margin-top: 35px;
    padding: 3em;
    grid-column: 1 / -1;
    position: sticky;
}

.footer .menu2 li {
    display: inline-block;
    margin: 1em 1em 1em 1em;
}

.footer ul{
    justify-content: center;
}

.footer img{
    width: 140px;
}

.footer p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.footer a{
    color: white;
    font-weight: bold;
    text-align: center;
}

.footer a:hover{
    color: #fd8505;
}